<style> body {
    background-image: url(../_img/bkg/<?php echo season().'/'.strtolower((timegreet()));
    ? > .jpg);
    background-repeat: repeat;
    background-attachment: scroll;
    margin: 0px;
    padding: 0px;
}

#morning {
    background: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}


#afternoon {
    background: rgba(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#evening {
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

#night {
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

</style>
